@import url("https://overpass-30e2.kxcdn.com/overpass.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: overpass;
  display: grid;
  grid-template-rows: 60px 1fr 100px;
  min-height: 100vh;
  font-size: 16px;
}

/* LAYOUT */

#header-main {
  background: black;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#content-main {
  padding: 40px 20px 60px;
}

#footer-main {
  background: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

/* WIDGETS */
#logo {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

#shopcart {
}

#shopcart-icon {
  height: 48px;
  width: 48px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

#shopcart-icon > * {
  pointer-events: none;
}

#shopcart-count {
  font-weight: bold;
  position: absolute;
  bottom: 2px;
  right: -6px;
  background: #000000cc;
  border-radius: 50%;
  overflow: hidden;
}

.list.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.products .product {
  border: 1px solid black;
  border-radius: 0.3rem;
  background: rgba(229, 230, 232, 0.32);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 220px;
  padding: 20px;
}

.products .product:hover {
  background: rgba(216, 238, 255, 0.89);
  color: #807a5f;
}

.products .product .infos {
  text-align: center;
}

.products .product .shopcart-add-icon {
  cursor: pointer;
}


#footer-main .legal {
  font-size: .85rem;
}