<form method="post" action="/category" class="form">
    <h1 class="title">Ajouter une catégorie</h1>

    <label for="label" class="is-clickable">Label *</label>
    <input class="input" id="label" type="text" name="label" required>

    <button class="btn">ok</button>
</form>