<form method="post" action="/category/edit/{{category._id}}" class="form">
    <h1 class="title">Editer une catégorie</h1>

    <label for="label" class="is-clickable">Label</label>
    <input class="input" id="label" type="text" name="label" value="{{category.label}}">

    <button class="btn">ok</button>
</form>