<form method="post" action="/simploniens/create">
    {{!-- (label.label+input.input)*3 --}}
<label for="name" class="label">nom</label>
<input id="name" name="name" type="text" class="input" value="foo">
<label for="email" class="label">email</label>
<input id="email" name="email" type="text" class="input" value="foo@bar.baz">
<label for="favoriteLanguage" class="label">langage favoris</label>
<input id="favoriteLanguage" name="favoriteLanguage" type="text" class="input" value="JS">
<button>ok</button>
</form>
