<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- D.R.Y : don't repeat yourself --}}
{{!-- avec la syntax {{> nomDeLaPartial [param] }} --}}
{{> imageGallery images1 }}
{{> imageGallery images2 }}

