<h1 class="title">About my super shop</h1>
<p>
    My super shop is the best shop in the whole free world blah blah blah Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Exercitationem recusandae sequi minima ab sunt, eius neque, mollitia vitae atque optio placeat
    debitis! Exercitationem, neque odit accusantium nobis consectetur repellat. Facere.
</p>

<h2 class="title">La team</h2>
<ul id="team" class="list">
    {{#each team}}
    <li class="item">{{this.name}} - {{this.role}}</li>
    {{/each}}
</ul>