<h1 class="title">Dashboard</h1>

<p>
    Bienvenue sur votre espace de gestion !
</p>

<hr>

<h2 class="title">Manager les ressources</h2>

<div class="widget">
    <h2 class="title">Produits</h2>
    <a href="/dashboard/create-product">
        <button class="is-clickable">Ajouter produit</button>
    </a>
    <a href="/dashboard/manage-products">
        <button class="is-clickable">Manager produits</button>
    </a>
</div>

<div class="widget">
    <h2 class="title">Utilsateurs</h2>
    <a href="/dashboard/manage-users">
        <button class="is-clickable">Manager utilisateur</button>
    </a>
</div>
