<h1 class="title">Dashboard</h1>

<p>
    Bienvenue sur votre espace de gestion !
</p>

<hr>

<h2 class="title">Manager les ressources</h2>

<div class="widget">
    <h2 class="title">Produits</h2>
    <a class="btn" href="/dashboard/create-product">
        <button class="is-clickable">Ajouter produit</button>
    </a>
    <a class="btn" href="/dashboard/manage-products">
        <button class="is-clickable">Manager produits</button>
    </a>
</div>

<div class="widget">
    <h2 class="title">Utilisateurs</h2>
    <a class="btn" href="/dashboard/manage-users">
        <button class="is-clickable">Manager utilisateur</button>
    </a>
</div>

<div class="widget">
    <h2 class="title">Categories</h2>
    <a class="btn" href="/dashboard/create-category">
        <button class="is-clickable">Ajouter catégorie</button>
    </a>
    <a class="btn" href="/dashboard/manage-categories">
        <button class="is-clickable">Manager categories</button>
    </a>
</div>