<h1 class="title">Manager les catégories</h1>

<table class="tabler">
    <thead class="header">
        <tr class="row">
            <th class="cell">num</th>
            <th class="cell">label</th>
            <th class="cell">edit</th>
            <th class="cell">delete</th>
        </tr>
    </thead>
    <tbody>
        {{#unless categories.length}}
        <tr>
            <td class="cell" colspan="6">
                pas de produits enregistrés pour le moment...
            </td>
        </tr>
        {{/unless}}
        {{#each categories}}
        <tr class="row">
            <td class="cell">{{@index}}</td>
            <td class="cell">{{this.label}}</td>
            <td class="cell">
                <a class="btn" href="/dashboard/category/edit/{{this._id}}">e</a>
            </td>
            <td class="cell">
                <form method="post" action="/category/delete/{{this._id}}">
                    <button class="btn">x</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>