@import url("./lay.header-main.css");
@import url("./lay.content-main.css");
@import url("./lay.footer-main.css");

.App {
  position: relative;
}

.App > * {
  padding-left: 20px;
  padding-right: 20px;
}
