@import url("./mod.shopcart.css");
@import url("./mod.burger.css");
@import url("./mod.links.css");
@import url("./mod.logo.css");
@import url("./mod.search-bar.css");

#header-main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 48px 48px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.15);
  padding-bottom: 20px;
}
