<h1 class="title">Home</h1>
<p>
    <b>{{messageJour}}</b>
</p>
{{{ unBoutDeHTML }}}
<p>
    M (model => interaction bdd)
    V (view : affichage client)
    C (controler : gère les intéraction entre client et server (et éventuellement bdd))
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, vel rem sint fuga placeat necessitatibus adipisci!
    Vitae impedit rem sapiente maxime voluptate, quam, error labore molestias nemo deserunt assumenda asperiores!
</p>