<h1 class="title">Bienvenue</h1>

<p>
    todo : créer un formulaire qui permet de mettre à jour un utilisateur donné<br>
    bonus: le form est stocké dans une vue partielle (il y 'a un tricks pour envoyer un param à un partiel : checker la
    doc)
</p>

<form method="post" action="/user/edit/{{user._id}}">

</form>