* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 20px;
}

.title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.link:hover {
  color: darkorange;
}

body {
  font-family: Arial;
}

.is-clickable {
  cursor: pointer;
}

#header-main {
  background: black;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
}

#content-main {
  padding: 20px;
  height: calc(100vh - 100px - 180px);
  overflow-y: scroll;
}

#footer-main {
  padding: 20px;
  height: 180px;
  background: black;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  background: black;
  color: whitesmoke;
}

.logo img {
  width: 120px;
}

.avatar {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-size: cover;
  border: 2px solid;
  margin: 0 20px;
}

.tabler .cell,
.tabler {
  border: 1px solid;
  border-collapse: collapse;
}

.tabler .header {
  background: black;
  color: whitesmoke;
}

.tabler .cell {
  padding: 10px;
  text-align: center;
}

.tabler .cell.avatar img {
  max-width: 64px;
}

.tabler .btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: auto;
  justify-content: center;
  height: 22px;
  width: 22px;
  border: 1px solid;
  border-radius: 0.3rem;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.form .label {
  cursor: pointer;
  margin-bottom: 6px;
}

.form .input {
  padding: 7px 0 7px 20px;
  margin-bottom: 10px;
  height: 32px;
}

.form .input:last-of-type {
  margin-bottom: 20px;
}

.form textarea.input {
  height: 150px;
  overflow-y: scroll;
}

.form .input,
.form .btn {
  border: 1px solid;
  border-radius: 0.3rem;
}

.form .btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 32px;
  max-width: 120px;
  margin-bottom: 20px;
}

#todo {
  list-style: none;
}

#todo .item.is-active {
  background: dodgerblue;
  color: whitesmoke;
}
