* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 20px;
}

p {
  line-height: 23px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  position: relative;
}

.btn {
  align-items: center;
  border: 1px solid;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  min-width: 100px;
  outline: none;
}

.btn.is-active {
  color: white;
  background: black;
}

.title {
  margin: 15px 0 25px;
}

.title {
  font-style: italic;
}

.important-text {
  color: red;
}

#move-on-up {
  border: 2px solid;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  height: 80px;
  padding: 10px;
  background: dodgerblue;
  color: whitesmoke;
  position: absolute;
}
