<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="module" src="/js/toggle.js"></script>
    <title>About</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/contact">contact</a>
      <a href="/register">register</a>
    </nav>

    <h1 class="title">About</h1>
    <p>
      DIY : petit script DOM<br> 
      - dans /static/js créer un fichier toggle.js <br>
      - lier ce fichier dans le head de about.html <br>
      - coder les fonctions js (front) nécessaires pour : <br>
      - récupérer tous les li <br>
      - au click sur chaque li : activer/désactiver une classe css is-active sur les li
    </p>
    <ol id="todo">
      <li class="item is-clickable">Wax on</li>
      <li class="item is-clickable">Wax off</li>
      <li class="item is-clickable">Repeat</li>
    </ol>
  </body>
</html>
