<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/contact">contact</a>
      <a href="/register">register</a>
    </nav>
    
    <h1 class="title">Homepage</h1>
    <p>
    1 - dans views/ créer une page contact et copier le code de ce matin (le formulaire)<br>
    2 - dans index.js, créer une route get pour afficher la page contact<br>
    3 - dans views/index.html, créer une nav menant vers home/about/contact<br>
    4 - répliquer la nav sur les 2 autres pages<br>
    5 - à la racine du projet, créer un dossier static/, puis<br>
    ---- static/img<br>
    ---- static/css<br>
    ---- static/js
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, nostrum
      officia consectetur voluptatem recusandae aut nisi excepturi autem debitis
      pariatur, voluptate eligendi ipsa optio animi vel laboriosam dolore, esse
      suscipit?
    </p>
    <h2 class="title">Le cycle client/server</h2>
    <img src="/img/client-server.png" alt="ma première image servie par express">
  </body>
</html>
