* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
}

a {
  text-decoration: none;
  color: inherit;
}

.ma-premiere-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 120px;
  max-width: 1220px;
  margin: 0 auto;
}

#header-main {
  background: #c55c55;
  color: whitesmoke;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#nav-main .link {
  margin-right: 10px;
}

#sidebar-main {
  background: #c0d3c5;
  color: whitesmoke;
}

#footer-main {
  background: #1d1075;
  color: whitesmoke;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.last-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 150px);
}

.last-articles .item:last-of-type {
  /* height */
  color: red;
}

.last-articles .item {
  /* height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background: darkslateblue;
  padding: 10px;
  text-align: center;
}
