<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road to database- {{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{#if needFontawesome}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    {{/if}}
    {{#each js}}
    <script type="module" src="/js/{{this}}"></script>
    {{/each}}
</head>

<body>
    {{!-- la caracasse front de votre app --}}
    <header id="header-main">
        {{> logo}}
        <nav id="nav-main">
            <a href="/" class="link is-clickable">home</a>
            <a href="/about" class="link is-clickable">about</a>
            <a href="/products" class="link is-clickable">products</a>
            <a href="/contact" class="link is-clickable">contact</a>
            <a href="/signin" class="link is-clickable">signin</a>
            <a href="/login" class="link is-clickable">login</a>
        </nav>
    </header>
    <main id="content-main">
        {{!-- hbs va insérer dans body le contenu du render courant --}}
        {{{ body }}}
    </main>
    <footer id="footer-main">
        <span id="copy">&copy; Simplon P4 - 2020</span>
        {{> logo}}
    </footer>
</body>

</html>